# Ignore everything by default
*

# Allow the gitignore file itself
!.gitignore

# Allow markdown documentation and labsheets
!workflow.md

# Allow script files and Octave source files
!run_all.sh

!README.md