# Ignore everything by default
*

# Allow the gitignore file itself
!.gitignore

# Allow environment variables template
!.env.example

# Allow markdown documentation and labsheets
!workflow.md

# Allow runner and report generator scripts
!generate_report.py

# Allow MATLAB/Octave source code directory and files
!src/
!src/**/*.m

!README.md